$position: absolute;
$bottom: 50%;


@mixin transform-rotation($rotate-value) {
    transform: rotateZ($rotate-value * 3.142rad);
    
}
@mixin transform-deg($rotate-value) {
    transform: rotateZ($rotate-value * 1deg);
    
}

