header{
        padding: 1rem 0;
        background: #262626;
        margin-bottom: 5%;
        font-family: 'Lato', sans-serif;
        text-align:center;
}
header h1{
        margin:0;
}
header p, .name-game{
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700;
        color:white;
}
header .name-game{
        font-weight: 900;
        font-size: 2rem;
       

}
.name-game .tri{
      color:blue;  
}
.name-game .go{
      color:green;  
}
.name-game .game{
      color:red;  
}
.memorise-test{
        display:none;
}
.try-again{
        display:none;
}
.well-done{
        display:none;
}
.notUsed{
        display:none; 
}
ul{
        list-style:none;
	 padding:0;
}
nav{
        max-width: 80%;
        text-align: center;
        margin:0 auto;
}
.play{
            margin: 0 auto;
            font-size: 2rem;
            border-radius: 10px;
            background: white;
            box-shadow: 5px 5px gray;
            width: 10rem;
            padding: 1%;
}
.play-icon{
        pointer-events: none;//when I click on the icon, allowed us to do like we were clicking on the button
}