@media screen and (min-width: 360px){
	body{
		height: 130vh;
	}
	header{
		padding: 5% 0;
	}
}
@media screen and (min-width: 768px){
        .wrapper{
                transform:scale(1.38);
                max-width: 75%;
        }
        body{
        position:relative;
        height: 110vh;
        }
        #start{
                width: 40%
        }
	.feedback{
		margin-top:15%;
	}
}
@media screen and (min-width: 1000px){

        header{
                padding: 3% 0;
                
        }
        
        
}