article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 320px;
  /*mettre un variable pour width et height parce que ceux sont les meme valeurs*/
  height: 320px;
  position: relative; }

.line {
  width: 100%;
  height: 2px; }

.axes {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0; }

.circle {
  border: 2px solid black;
  border-radius: 50%;
  width: 320px;
  /*mettre un variable pour width et height parce que ceux sont les meme valeurs*/
  height: 320px;
  margin: 0 auto; }

.wrapper {
  width: 98%;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  margin: 0 auto; }

.container {
  margin: 0 auto; }

.absciss {
  position: absolute;
  top: 50%; }

.ordonne {
  position: absolute;
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
  transform: rotateZ(90deg);
  bottom: 50%; }

.line-green {
  color: green; }

.line-blue {
  color: blue; }

.line-red {
  color: red; }

.oblique135 {
  position: absolute;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
  bottom: 50%; }

.oblique45 {
  position: absolute;
  -webkit-transform: rotateZ(135deg);
  -ms-transform: rotate(135deg);
  transform: rotateZ(135deg);
  bottom: 50%; }

.obliquePi1 {
  position: absolute;
  /* transform: rotate(calc(3.142rad / 6)); */
  -webkit-transform: rotateZ(0.52367rad);
  -ms-transform: rotate(0.52367rad);
  transform: rotateZ(0.52367rad);
  bottom: 50%; }

.obliquePi2 {
  position: absolute;
  -webkit-transform: rotateZ(2.61833rad);
  -ms-transform: rotate(2.61833rad);
  transform: rotateZ(2.61833rad);
  bottom: 50%; }

.obliquePi3 {
  position: absolute;
  -webkit-transform: rotateZ(2.09467rad);
  -ms-transform: rotate(2.09467rad);
  transform: rotateZ(2.09467rad);
  bottom: 50%; }

.obliquePi4 {
  position: absolute;
  -webkit-transform: rotateZ(1.04733rad);
  -ms-transform: rotate(1.04733rad);
  transform: rotateZ(1.04733rad);
  bottom: 50%; }

/* .verticalLine{
        position:absolute;
} */
.vertical1 {
  position: absolute;
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
  transform: rotateZ(90deg);
  width: 160px;
  bottom: 50%;
  left: calc(0% - 56px); }

.vertical2 {
  position: absolute;
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
  transform: rotateZ(90deg);
  width: 160px;
  bottom: 50%;
  left: 216.57px; }

.vertical3 {
  position: absolute;
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
  transform: rotateZ(90deg);
  width: 276.8px;
  bottom: 50%;
  left: calc(0% - 58px); }

.vertical4 {
  position: absolute;
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
  transform: rotateZ(90deg);
  width: 276.8px;
  bottom: 50%;
  left: 101px; }

.vertical5 {
  position: absolute;
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
  transform: rotateZ(90deg);
  bottom: 50%;
  left: calc(0% - 66.14px);
  width: 227.2px; }

.vertical6 {
  position: absolute;
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
  transform: rotateZ(90deg);
  width: 227.2px;
  bottom: 50%;
  left: 159.14px; }

.horizontal1 {
  position: absolute;
  top: 21.43px;
  width: 160px;
  left: 80px; }

.horizontal2 {
  position: absolute;
  width: 227.2px;
  top: 46.86px;
  left: 45px; }

.horizontal3 {
  position: absolute;
  width: 276.8px;
  top: 80px;
  left: 20px; }

.horizontal4 {
  position: absolute;
  width: 276.8px;
  bottom: 80px;
  left: 20px; }

.horizontal5 {
  position: absolute;
  bottom: 46.86px;
  width: 227.2px;
  left: 46px; }

.horizontal6 {
  position: absolute;
  width: 160px;
  left: 80px;
  bottom: 21.43px; }

.line-red, .line-green, .line-blue {
  display: none; }

.red-cos, .red-sin {
  position: absolute;
  color: red; }

.green-cos, .green-sin {
  position: absolute;
  color: green; }

.blue-cos, .blue-sin {
  position: absolute;
  color: blue; }

.blue-cos-value-pos {
  right: 80px;
  top: 47%; }

.blue-sin-value-neg {
  left: 51%;
  bottom: -10px; }

.blue-cos-value-neg {
  top: 46%;
  left: 82px; }

.blue-sin-value-pos {
  left: 51%;
  top: -10px; }

.red-cos-value-pos {
  left: 51%;
  top: 15px; }

.red-cos-value-neg {
  bottom: 11px;
  left: 51%; }

.red-sin-value-neg {
  top: 39%;
  left: 47px; }

.red-sin-value-pos {
  top: 39%;
  right: 46px; }

.red-cos, .red-sin {
  position: absolute;
  color: red; }

.green-cos-value-pos {
  right: 11px;
  top: 48%; }

.green-cos-value-neg {
  left: 23px;
  top: 47%; }

.green-sin-value-neg {
  left: 51%;
  bottom: 45px; }

.green-sin-value-pos {
  top: 14%;
  left: 50%; }

.redPi {
  position: absolute;
  color: red; }

#red-value1 {
  right: 15px;
  top: 25px; }

#red-value2 {
  left: 10px;
  top: 26px; }

#red-value3 {
  bottom: 10px;
  left: 20px; }

#red-value4 {
  right: 7px;
  bottom: 23px; }

.greenPi {
  position: absolute;
  color: green; }

#green-value1 {
  top: 57px;
  right: -15px; }

#green-value2 {
  top: 55px;
  left: -15px; }

#green-value3 {
  bottom: 55px;
  left: -15px; }

#green-value4 {
  right: -22px;
  bottom: 55px; }

.bluePi {
  position: absolute;
  color: blue; }

#blue-value1 {
  top: -10px;
  right: 49px; }

#blue-value2 {
  left: 49px;
  top: -10px; }

#blue-value3 {
  bottom: -15px;
  left: 55px; }

#blue-value4 {
  bottom: -15px;
  right: 55px; }

.active {
  display: block; }

.play-icon {
  pointer-events: none; }

.active-question {
  color: white;
  border: 1px solid black; }

.notUsed {
  display: none; }

ul {
  list-style: none; }

footer p {
  background-color: grey;
  padding: 1%;
  text-align: center; }
