article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 320px;
  /*mettre un variable pour width et height parce que ceux sont les meme valeurs*/
  height: 320px;
  position: relative;
  border: 1px solid #f0f; }

.line {
  width: 100%;
  height: 2px; }

.axes {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0; }

.circle {
  border: 2px solid black;
  border-radius: 50%;
  width: 320px;
  /*mettre un variable pour width et height parce que ceux sont les meme valeurs*/
  height: 320px;
  margin: 0 auto; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

.container {
  margin: 0 auto; }

.absciss {
  position: absolute;
  top: 50%; }

.ordonne {
  position: absolute;
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
  transform: rotateZ(90deg);
  bottom: 50%; }

.oblique135 {
  position: absolute;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
  bottom: 50%; }

.oblique45 {
  position: absolute;
  -webkit-transform: rotateZ(135deg);
  -ms-transform: rotate(135deg);
  transform: rotateZ(135deg);
  bottom: 50%; }

.obliquePi1 {
  position: absolute;
  /* transform: rotate(calc(3.142rad / 6)); */
  -webkit-transform: rotateZ(0.52367rad);
  -ms-transform: rotate(0.52367rad);
  transform: rotateZ(0.52367rad);
  bottom: 50%; }

.obliquePi2 {
  position: absolute;
  -webkit-transform: rotateZ(2.61833rad);
  -ms-transform: rotate(2.61833rad);
  transform: rotateZ(2.61833rad);
  bottom: 50%; }

.obliquePi3 {
  position: absolute;
  -webkit-transform: rotateZ(2.09467rad);
  -ms-transform: rotate(2.09467rad);
  transform: rotateZ(2.09467rad);
  bottom: 50%; }

.obliquePi4 {
  position: absolute;
  -webkit-transform: rotateZ(1.04733rad);
  -ms-transform: rotate(1.04733rad);
  transform: rotateZ(1.04733rad);
  bottom: 50%; }

/* .verticalLine{
        position:absolute;
} */
.vertical1 {
  position: absolute;
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
  transform: rotateZ(90deg);
  bottom: 50%;
  left: calc(0% - 138.57px);
  display: block; }

.vertical2 {
  position: absolute;
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
  transform: rotateZ(90deg);
  bottom: 50%;
  left: 138.57px; }

.vertical3 {
  position: absolute;
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
  transform: rotateZ(90deg);
  bottom: 50%;
  left: calc(0% - 80px); }

.vertical4 {
  position: absolute;
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
  transform: rotateZ(90deg);
  bottom: 50%;
  left: 80px; }

.vertical5 {
  position: absolute;
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
  transform: rotateZ(90deg);
  bottom: 50%;
  left: calc(0% - 113.14px); }

.vertical6 {
  position: absolute;
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
  transform: rotateZ(90deg);
  bottom: 50%;
  left: 113.14px; }

.horizontal1 {
  position: absolute;
  top: 21.43px; }

.horizontal2 {
  position: absolute;
  top: 46.86px; }

.horizontal3 {
  position: absolute;
  top: 80px; }

.horizontal4 {
  position: absolute;
  bottom: 80px; }

.horizontal5 {
  position: absolute;
  bottom: 46.86px; }

.horizontal6 {
  position: absolute;
  bottom: 21.43px; }

.line-red, .line-green, .line-blue {
  display: none; }
